extends ./layouts/common.pug

block content
    .mt-4.container
        if signedCookies
            each user in users 
                h1 Hello #{user.name} 
        else    
            h1 Welcome to my page
    //- a(href="/users") User Lists
        