extends ../layouts/common.pug

block content
    .mt-4.container
        h1 USER LIST
        form(action="/users/search", methods="GET")
            .mb-3
                label.form-label(for='name') Name
                input#name.form-control(type='text', name="q", value= searchedValue)
            button.btn.btn-primary Search

        a(href="/users/create")
            button.btn.btn-primary Create User
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Phone
                    th(scope='col') Actions
            tbody
                each user in users
                    tr
                        th(scope='row')
                            img(src= user.avatar, width="32", alt="")
                            td= user.name
                            td= user.phone
                            td 
                                a(href="/users/" + user.id) View 
        
